/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* 全域字體 微軟正黑體 */

body {
  font-family: "Microsoft JhengHei", "微軟正黑體";
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.top-bar {
  height: 30px;
  background: #f6f6f6;
}

.socialbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 2px;
}

.socialbar li {
  padding: 2px 2px 2px 2px;
}

.socialbar .fb {
  border-right: 2px solid #cccccc;
}

.socialbar li a {
  padding: 5px;
}

.socialbar li a:hover {
  background: #cccccc;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 52px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar li {
  width: 85px;
  text-align: center;
}

.navbar li a {
  display: block;
  background: white;
  color: #00cc99;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar li a:hover {
  border-bottom: 2px solid #66cdaa;
}

.banner {
  background-image: url(picture/banner.png);
  background-size: cover;
  /* background-size: 100% 100% ; 雖然也能滿版但會被隨解析度不同會拉伸*/
  height: 346px;
  display: flex;
  align-items: center;
}

.banner h2 {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 40px 22px;
  line-height: 45px;
}

.content ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content ul li {
  margin-top: 80px;
  text-align: center;
  width: 300px;
  padding: 20px;
  box-shadow: 1px 1px 8px gray;
}

.content ul li h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

.content ul li p {
  text-align: left;
  line-height: 20px;
}

.tablecontent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 64px;
}

.tablecontent h3 {
  text-align: center;
  font-size: 24px;
  padding: 30px;
  font-weight: bold;
}

.table th,
.table td {
  border-top: 1px solid #e2e2e4;
  border-bottom: 1px solid #e2e2e4;
  padding: 10px;
  text-align: left;
}

.table th {
  background: #f7f7f7;
  font-weight: bold;
}

.highlight {
  color: #77d0ba;
}

.form {
  background: linear-gradient(#00644b, #009771);

  margin-top: 62px;
}

.form h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  line-height: 40px;
  padding-bottom: 16px;
}

.form textarea {
  border-radius: 10px;
  height: 247px;
  width: 460px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  resize: none;
}

.respond {
  display: flex;
  flex-wrap: wrap;
}

.personal {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.personal input,
label {
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  width: 500px;
}

.personal label {
  color: white;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.submit input {
  color: white;
  background: #00cc99;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.submit input:hover {
  background: red;
}

.footer {
  margin-top: 30px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
}

.connection p {
  line-height: 30px;
}

.connection a {
  color: #eb73aa;
}
